@using Microsoft.AspNetCore.Identity
@using SocialClubApp.ViewModels
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model ClubViewModel

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card text-black shadow-lg">
                <div class="container rounded-4 py-4">
                    <img src="@Model.Image" class="card-img-top" alt="" />
                </div>
                <div class="card-body rounded-3">
                    <div class="text-center">
                        <h5 class="card-title">Club Details</h5>
                        <p class="text-muted mb-4">@Model.Title</p>
                    </div>
                    <div>
                        <div class="d-flex justify-content-center">
                            @*<span>City</span>*@<span>@Model.City</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            @*<span>State</span>*@<span>@Model.State</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            @*<span>Type</span>*@<span>@Model.ClubCategory</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center text-left text-muted mt-4">
                        <span>@Model.Description</span>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <form method="post" asp-action="JoinClub">
                            <input asp-for="Id" type="number" hidden />
                            @if (Model.IsJoined)
                            {
                                <button type="submit" class="btn btn-primary btn-lg">Joined</button>
                                <input asp-for="IsJoined" type="checkbox" checked hidden />
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary btn-lg">Join Club</button>
                                <input asp-for="IsJoined" type="checkbox" hidden />
                            }
                        </form>
                    </div>

                </div>
            </div>
            </div>
        </div>
    </div>


    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-10">

                <div class="card shadow-lg">                    
                    <div class="card-body">

                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Club Member</th>
                                    <th scope="col">Member Since</th>
                                    <th scope="col">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var user in Model.Members)
                            {
                                <tr class="fw-normal">
                                    <th>                                        
                                        <img src="@user.ProfileImageUrl"
                                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                                         style="width: 55px; height: auto;">
                                        <span class="ms-2">@user.UserName</span>
                                    </th>
                                    <td class="align-middle">
                                        <span>@user.Joined</span>
                                    </td>
                                    <td class="align-middle">                                   
                                        @foreach (var claim in user.Claims)
                                        {
                                            <h6 class="mb-0"><span class="badge bg-danger">@claim</span></h6>
                                        }
                                    </td>

                                </tr>
                            }                                                           
                            </tbody>
                        </table>
                    </div>                  
                </div>

            </div>
        </div>
    </div>
