@model IEnumerable<Meeting>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg">
                        <div class="container py-5">

                          <div class="mx-auto">
                            <h1 class="display-5 fw-bold">Events</h1> 
       
                                <p class="lead text-muted">Don't see a event for your club? Create your own!</p>
                            <p>
                              <a class="btn btn-primary my-2" asp-controller="Meeting" asp-action="Create">Add Event</a>
                            </p>        
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </section>
  


   <div class="album py-5 bg-light rounded-3 shadow-lg">
        <div class="container px-5">
          <div class="row">
            @if (Model == null)
            {
               <h1 class="fw-light text-center container">No Clubs</h1>
            }
            else
            {
                @foreach (var item in Model)
                {
                  <div class="col-md-4">
                   <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@item.Image" width="100" height="225" alt="Card image cap">
                    <div class="card-body rounded-3 shadow-lg">
                      <p class="card-text">@item.Title</p>
                       <p class="card-text">@item.Description</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a type="btn btn-success" asp-controller="Meeting" asp-action="Details" asp-route-id="@item.Id"
                                        class="btn btn-sm btn-outline-secondary">View</a>
                          <a asp-controller="Meeting" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                          <a asp-controller="Meeting" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                          
                        </div>
                        <small class="text-muted">@item.MeetingCategory</small>
                      </div>
                    </div>
                  </div>
                </div>
              }
            }
          </div>
        </div>
      </div>